<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="styles/style.css">
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>
    <div class="side-bar">
        <div class="upper">
            <a href="#">
                <div class="profile-container" >
                    <img class="icon" src="/images/user_avatar_.webp" alt="profile">
                    <span id="sender">sender</span>
                </div>
            </a>
            <a href="#">
                <img class="icon" src="/images/settings.webp" alt="settings">
            </a>
        </div>
        <div class="find-user-container">
            <form id="find-user-form">
                <input type="text" name="username">
            </form>
        </div>
        <div class="chat-list" id="chat-list-id">
            <!-- <a href="/id">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a> -->
        </div>
    </div>
    
    <div class="chat" id="chat">
        <div class="upper">
            <div class="profile-container">
                <img class="icon" src="/images/user_avatar_.webp" alt="profile">
                <span id="recipientUsername">recipient</span>
            </div>
        </div>
        <div class="chat-window" id="chat-window">
            <div class="text-input-conteiner">
                <form id="message-form">
                    <input type="text" name="messageText" autocomplete="off">
                    <button>send</button>
                </form>
            </div>
            
            <!-- <div class="message-left">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laboriosam quibusdam veritatis tempora
                    eum illum quia iure est nobis quaerat, aspernatur ex tempore magnam eos quo. Accusamus consequatur
                    expedita consectetur!</p>
            </div> -->
        </div>
    </div>

    <script src="/js/main-page.js"></script>
    <script src="/js/chat-page.js"></script>

</body>

</html>