<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="side-bar">
        <div class="upper">
            <a href="#">
                <div class="profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
            <a href="#">
                <img class="icon" src="static/images/settings.webp" alt="settings">
            </a>
        </div>

        <div class="find-user-container">
            <form action="#" method="get"></form>
            <label for="find"></label>
            <input type="text" id="find">
            <button>
                <img style="height: 30px;" src="static/images/find-user.png" alt="profile">
            </button>
        </div>
        <div class="chat-list">
            <a href="#">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
            <a href="#">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
            <a href="#">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
            <a href="#">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
            <a href="#">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
            <a href="#">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
            <a href="#">
                <div class="profile-container chat-profile-container">
                    <img class="icon" src="static/images/user_avatar_.webp" alt="profile">
                    <span>username</span>
                </div>
            </a>
        </div>
    </div>
    <div class="chat"></div>
</body>

</html>