<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
</head>
<body>
    <h1>Messenger</h1>
    <form action="#">

        <div class="input-container">
            <label for="login">login</label>
            <input type="text" id="login">
        </div>
        
        <div class="input-container">
            <label for="password">password</label>
            <input type="password" id="password">
        </div>
        <button>log in</button>

    </form>
</body>
</html>