<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="styles/style.css">
    <style>
        a {
            color: black;
        }
    </style>
</head>
<body>
    <div class="center-con">
        <h1>Messenger</h1>
        <form id="form">
            <div class="gap-col-form">
                <div><label> User Name : <input type="text" name="username" required/> </label></div>
                <div><label> Email : <input type="text" name="email" required/> </label></div>
                <div><label> Password: <input type="password" name="password" required/> </label></div>
                <div><input type="submit" value="Registration"/></div>
                <p id="err" hidden>Ошибка</p>
                <a href="login"><p>Log in</p></a>
            </div>
        </form>
        
    </div>
    <script src="js/registration-page.js"></script>
</body>
</html>