@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

*{
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
    background-color:#99FF66;
    overflow-y: hidden;
}



.side-bar {
    width: 25%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
    height: 100vh;
}

.icon{
    width: 60px;
}

.upper {
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: #339900;

}

.find-user-container {
    margin-top: 10%;
    display: block;
}

.chat {
    width: 75%;
    margin-left: 25%;
    height: 100vh;
}

.chat-profile-container {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #339900;
}

.chat-window {
    display: flex;
    height: 90%;
    background-color: #99FF66;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.message-right>p {
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    float: right;
    width: 50%;
    background-color: #339900;
}

.message-left>p {
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    float: left;
    width: 50%;
    background-color: darkgreen;
}

.text-input-conteiner {
    margin: 20px;
}


.gap-col-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center-con {
    margin-top: 30vh;
    text-align: center;
}

#send-input {
    min-width: 80%;
}

#find-input {
    width: 70%;
}

#err {
    color: red;
}

