body {
    margin: 0;
    padding: 0;
    background-color: rgba(237, 182, 65, 0.737);

}

.side-bar {
    width: 25%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
    height: 100vh;
}

.icon{
    width: 60px;
}

.upper {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    justify-content: space-between;
    height: 10%;
}

.find-user-container {
    margin-top: 10%;
    display: flex;
}

.chat {
    width: 75%;
    margin-left: 25%;
    height: 100vh;
    background-color: brown;
}

.chat-profile-container {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(237, 182, 65, 0.737);
}

.chat-window {
    display: flex;
    height: 90%;
    background-color: rgb(240, 195, 98);
    flex-direction: column-reverse;
}

.message-right>p {
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    float: right;
    width: 50%;
    background-color: rgb(145, 110, 241);
}

.message-left>p {
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    float: left;
    width: 50%;
    background-color: darkgreen;
}

.text-input-conteiner {
    margin: 20px;
    background-color: cadetblue;
}

.text-input-conteiner>input {
    width: 80%;
}